[submodule "ArbitrageScanner"]
	path = ArbitrageScanner
	url = https://github.com/dimasdom/ArbiSpreadScanner.WebApp.git
[submodule "ArbiScannerWebApp"]
	path = ArbiScannerWebApp
	url = https://github.com/dimasdom/ArbitrageSpreadScanner.git
[submodule "ArbiScannerAdminPannel"]
	path = ArbiScannerAdminPannel
	url = https://github.com/dimasdom/ArbiSpreadScanner.AdminPannel.git
[submodule "ArbiScanner.TelegramNotifierApp"]
	path = ArbiScanner.TelegramNotifierApp
	url = https://github.com/dimasdom/ArbiSpreadScanner.TelegramNotifierApp.git
